[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "PKHUD"]
	path = PKHUD
	url = https://github.com/MichMich/PKHUD.git
[submodule "MMMarkdown"]
	path = MMMarkdown
	url = https://github.com/mdiep/MMMarkdown
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "HanekeSwift"]
	path = HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
